body {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 800px;
    min-width: 400px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 1.0em;
}

a:visited {
    color: brown;
}

.red {
    color: red;
}

.souligne {
    text-decoration: underline;
}

.clignote {
    color: green;
    animation: clignote 2s linear infinite;
}

@keyframes clignote {
    50% {
        opacity: 0;
    }
}

.blue {
    color: blue;
}

.bordeaux {
    color: brown;
}

.minitext {
    font-size: 0.4em;
}

.miniimage {
    width: 30px;
    height: 30px;
}

.image {
    max-width: 250px;
    min-width: 50px;
    max-height: 220px;
    min-height: 30px;
}

.logo {
    width: 15px;
    height: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.element1 {
    margin-right: 10px;
    font-size: 0.6em;
}

.element2 {
    font-size: 1em;
}

.minicube {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1280px) {
    /* Rédigez vos propriétés CSS ici */
}